*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}
.container{
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.heading{
    background-color: blue;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.timer{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.buttons button{
    background-color: blue;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

