
/** *************************  */
/**     Nav Section           */
/** *************************  */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 9.6rem;
    padding: 0 4.2rem; 
    background-color: #fcf0e4;
}

.logo{
    height: 2.4rem;
}

.nav-link-list{
    display: inline-block;
    display: flex;
    align-items: center;
    gap: 4.8rem;
    list-style: none;
}
.nav-link:link  , .nav-link:visited{
    font-size: 1.8rem;
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: all 0.3s;

}
.nav-link:hover  , .nav-link:active{
    color: #a25918;
}

.nav-link.nav-cta:link , .nav-link.nav-cta:visited
{
    background-color: #cf711f;
    color: #fff;
    border-radius: 9px;
    padding: 1.2rem 2.4rem;
}
.nav-link.nav-cta:hover , .nav-link.nav-cta:active{
    background-color: #a25918;
}

.menu-btns{
    background: none;
    border: none;
    cursor: pointer;

    display: none;
}
.menu-btn{
    height: 4.2rem;
    width: 4.2rem;
    color: #333;
}
.menu-btn[name="close-outline"]{
    display: none;
}

/** *************************  */
/**     Hero Section           */
/** *************************  */

.section-hero{
    background-color:#fcf0e4;
    padding: 4.8rem 0 9.6rem 0 ;
}

.hero{
    max-width: 130rem;
    margin: 0  auto;
    display: grid;
    grid-template-columns: 1fr  1fr;
    align-items: center;
    gap: 9.6rem;
    padding: 0 3.2rem;
}


.hero-content-image{
    width: 100%;
}

.primary-heading{
    letter-spacing: -1px;
    margin-bottom: 3.4rem;
    font-size: 5.2rem;
    line-height: 1.05;
}

.hero-left-para{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: -0.5;
    margin-bottom: 4.8rem;
}


.feedBack-sec-header{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-top: 8rem;
}

.customer-img{
    display: flex;
    

    & img{
        margin-left: -1rem;
        height: 4.8rem;;
        width: 4.8rem;
        border-radius: 50%;
        border:2px solid #fcf0e4;
    }
    & img:first-child{
        margin: 0;
    }
}

.feedBack-header-text{ 
    font-size: 1.8rem;
    & span{
        margin-right: 0.5rem;
        font-size: 2rem;
        font-weight: 600;
        color: #a25918;
    }
}

/** *************************  */
/**     Section Featured           */
/** *************************  */
.section-feature{
    padding: 4.8rem 0 3.2rem 0;
}
.heading-featured{
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2.4rem;
    color: #888;
}

.featured-img{
    display: flex;
    justify-content: space-around;

    & img{
        height: 3rem;
        filter: brightness(0);
        opacity: 0.5;
    }
}

/** *************************  */
/**     Section  How           */
/** *************************  */
.section-how{

    padding: 9.6rem 0;
}
/* feedBack-header-text */
.sub-heading{
    
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #a25918;
    letter-spacing: 1.6;
    margin-bottom: 3rem;
    font-weight: 500;
    display: block;
}
.secondary-heading{
    font-size: 4.4rem;
    margin-bottom: 9.6rem;
}

.section-img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.section-img::after , .section-img::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    border-radius: 50%;
}
.section-img::after {
    width: 60%;
    padding-bottom: 60%;
    background-color: #fdf2e9;
    z-index: -2;
}
.section-img::before{
    width: 45%;
    padding-bottom: 45%;
    background-color: #fae5d3;
    z-index: -1;

}
.img-element{
    width: 35%;
}
.number{
    font-size: 8rem;
    font-weight: 700;
    color: #dddddd;
    margin-bottom: 1.4rem;
}
.terciary-heading{
    line-height: 1.2;
    font-size: 2.4rem;
    margin-bottom: 3rem;
}
.summary-grid{
    font-size: 1.8rem;
    line-height: 1.8;
    color: #333;
    font-weight: 400;
}


/** *************************  */
/**     Section  Meal           */
/** *************************  */

.items{
    padding: 9.6rem 0;
}
.meal-img{
    width: 100%;
}
.meal{
    box-shadow: 0  2rem 4rem  rgba(0, 0, 0, 0.06);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
}
.meal:hover{
    transform: translateY(-1.2rem);
    box-shadow: 0  3.2rem 6.4rem  rgba(0, 0, 0, 0.06);

}
.meal-items{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.meal-title{
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
}
.meal-item{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.icon{
    height: 2.4rem;
    width: 2.4rem;
    color: #a25918;
}
.type-meal{
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
}
.tag{
    display: inline-block;
    padding: 0.4rem  0.8rem;
    font-size: 1.2em;
    text-transform: uppercase;
    border-radius: 10rem;
    color: #333;
    font-weight: 500;
}
.type-vegetarian{
    background-color:#85ff33 ;
}
.type-vegan{
    background-color: #ADFF2F;
}
.type-paleo{
    background-color: #ffd256;
}
.content-meal{
    padding : 3.2rem 4.8rem 4.8rem 4.8rem;
}
.lists{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.list-in{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    line-height: 1.3;
}
.icon-check{
    height: 3rem;
    width: 3rem;
    color: #a25918;
}
.list-el{
    font-size: 1.8rem;
}

.link-elements{
    text-align: center;
}
.link-eliment:link , .link-eliment:visited{
    display: inline-block;
    color: #a25918;
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    font-size: 1.6rem;
    padding-bottom: 2px;
    transition: all 0.3s;
}
.link-eliment:hover , .link-eliment:active{
    border-bottom: 1px solid transparent;
}


/** *************************  */
/** #85ff33 Section Testimonial #85ff33 */
/** *************************  */
.section-testimonial{
    background-color: #fcf0e4;
    display: grid;
    grid-template-columns: 55fr 45fr;
    align-items: center;

}
.testimonial-textsection{
    padding: 9.6rem;
}
.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 4.2rem;
    column-gap:8rem;
}

.testimonial-img{
    width: 4.8rem;
    border-radius: 50%;
    margin-bottom: 1.2rem;
}

.testimonial-content{
    font-size: 1.8rem;
    line-height: 1.8;
    margin-bottom: 1.6rem;
    color: #333;
}

.testimonial-name{
    font-size: 1.6rem;
    color: #6f6f6f;
}

.testiomonial-images{
    padding: 1.6rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:1.6rem;
    align-items: center;
}
.testimonial-img-food{
    overflow: hidden;
    & img{
        display:block;
        width: 100%;
        transition: all 0.8s;
    
}
& img:hover{
    transform: scale(1.1);
}
}

/** *************************  */
/** #85ff33 Section Pricing #85ff33 */
/** *************************  */

.section-pricing{
    padding: 9.6rem 0;
}
.pricing-sec{
    width: 75%;
    border-radius: 11px;
}
.pricing-starter{
    padding: 4.5rem;
    border: 3px solid #fcf0e4;
    justify-self: end;
}
.pricing-complete{
    padding: 4.8rem;
    background-color: #fcf0e4;
    position: relative;
    overflow: hidden;
}
.pricing-complete::after{
    content: "Best Price";
    position: absolute;
    background-color: #ffd256;
    color: #333;
    padding :0.8rem 8rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    top: 7%;
    right: -19%;
    transform: rotate(45deg);
}
.tac-pricing{
    margin-bottom: 3.2rem;
    text-align: center;
}
.pricing-name{
    font-size: 2rem;
    font-weight: 600;
    color: #a25918;
    text-transform: uppercase;
    margin-bottom: 2.8rem;
    letter-spacing: 0.1rem;

}
.pricing-rate{
    font-size: 6.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 1.6rem;
    & span{
        font-size: 3rem;
        font-weight: 500;
        margin-right: 0.8rem;
    }

}
.pricing-detail{
    font-size: 1.6rem;
    color: #6f6f6f;
    line-height: 1.6;
}
.text-center-btn{
    text-align: center;
    margin-top: 4.8rem;
}

.pricing-text-detail{
    font-size: 1.6rem;
    text-align: center;
}

/** Feature section */  

.feature-icon{
    height: 3.2rem;
    width: 3.2rem;
    padding: 1.6rem;
    margin-bottom: 3.2rem;
    color: #a25918;
    background-color: #fcf0e4;
    border-radius: 50%;

}

.feature-title{
    font-size: 2rem;
    font-weight: 800;
    color: #333;
    margin-bottom: 1.6rem;

}

.feature-description{
    font-size: 1.6rem;
    line-height: 1.6;
}

/* * CTA  */
.section-cta{
    padding:  4.8rem 0 12.8rem;
}
.cta{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-image: linear-gradient(to top right ,#eb984e, #e98b38 );
    /* height: 50rem; */
    border-radius: 11px;
    overflow: hidden;
    box-shadow: 0  0 4rem  rgba(0, 0, 0, 0.25);
}
.img-cta{
    background-image: linear-gradient(to top right ,rgba(235, 151, 78, 0.35), rgba(230, 125, 34, 0.35)   ), url(../img/eating.jpg);
    background-size: cover;
    background-position: center;
}

.text-content-cta{
    padding :4.6rem 6.4rem 6.4rem 6.4rem;

    & .title-cta{
        margin-bottom: 4.8rem;
    }

    & .secondary-heading{
        color: #45260a;
        margin-bottom: 3.2rem;
    }

    & .cta-sub-text{
        color: #45260a;
        font-size: 1.8rem;
        line-height: 1.8;
        font-weight: 500;

    }
}

.cta-form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2.4rem;
}

/*  * Form  */

.cta-form label{
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
    color: #45260a;
}

.cta-form input ,
.cta-form select{
    width: 100%;
    background-color: #fcf0e4;
    border: none;
    font-family: inherit;
    padding: 1.2rem;
    border-radius: 9px;
    box-shadow: 0  1.2rem 2rem  rgba(0, 0, 0, 0.09);
    font-size: 1.6rem;
    color: #6f6f6f;
    transition: all 0.5s;
}

.cta-form *:focus{
    outline: none;
    /* border: 2px dotted #a25918;
    outline-offset: 112rem; */
    box-shadow: 0 0 0 0.8rem rgba(247, 247, 247, 0.4);
}


/** *************************  */
/** #85ff33 Section Footer #85ff33 */
/** *************************  */

.section-footer{
    padding :12.8rem 0;
    border-top: 1px solid #dddddd;
}

.logo-footer{
    margin-bottom: 3.2rem;
}
.logo-social{
    display: flex;
    flex-direction: column;
}
.social-links{
    list-style: none;
    display: flex;
    gap: 4rem;
}
.social-logo{
    height: 2.4rem;
    width: 2.4rem;
}
.copyright{
    font-size: 1.4rem;
    margin-top:auto;
    color: #666666;
    line-height: 2rem;
}
.footer-header{
    font-size: 1.8rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 4rem;

}

.ul-footer{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
}

.link-footer:link,.link-footer:visited{
    text-decoration: none;
    color: #666666;
    transition: all 0.3s;
}

.link-footer:hover,.link-footer:active{
    color: #222222;
}
.address-sec{
    font-size: 1.6rem;
    font-style: normal;
    line-height: 2.4rem;
}
.address{
    margin-bottom: 3rem;
    color: #333;
}

