*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
}
.container{
    background-color: white;
    overflow: hidden;
    width: 400px;
}
.main-heading{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;

}
.section{
    padding: 10px;
    text-align: center;
    & .head-name{
        font-size: 18px;
        margin-bottom: 10px;
    }
    & .weight-in{
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 15px;
        outline: none;
    }
    & .output{
       display: flex;
       flex-direction: column;
       font-size: 18px;
       font-weight: bold;
    }
}