*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
    background-color: #f0f0f0;
}
.container{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.heading{
    text-align: center;
    margin-bottom: 10px;
}
.text{
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px;
}
.otp-container{
    display: flex;
    justify-content: space-between;
}
.otp-input{
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.otp-input::-webkit-outer-spin-button,
.otp-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.otp-input:valid{
    border-color: #55db34;
}
.otp-input:invalid{
    border-color: #e74c3c;
}